<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEnrollmentHistoryLabel" jhiTranslate="blogApp.enrollmentHistory.home.createOrEditLabel">Create or edit a Enrollment History</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!enrollmentHistory.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="enrollmentHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="blogApp.enrollmentHistory.language" for="field_language">Language</label>
            <select class="form-control" name="language" [(ngModel)]="enrollmentHistory.language" id="field_language" >
                <option value="FRENCH">{{'blogApp.Language.FRENCH' | translate}}</option>
                <option value="ENGLISH">{{'blogApp.Language.ENGLISH' | translate}}</option>
                <option value="SPANISH">{{'blogApp.Language.SPANISH' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="blogApp.enrollmentHistory.circle" for="field_circle">Circle</label>
            <select class="form-control" id="field_circle" name="circle" [(ngModel)]="enrollmentHistory.circleId">
                <option [ngValue]="null"></option>
                <option [ngValue]="circleOption.id" *ngFor="let circleOption of circles; trackBy: trackCircleById">{{circleOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="blogApp.enrollmentHistory.person" for="field_person">Person</label>
            <select class="form-control" id="field_person" name="person" [(ngModel)]="enrollmentHistory.personId">
                <option [ngValue]="null"></option>
                <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
